## Практическое задание Pandas
### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price,в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd
import numpy as np

In [23]:
#ваш код
pf =pd.DataFrame(  
                columns=['author_id', 'author_name'],
                 )
pf['author_id']=[1, 2, 3]
pf['author_name'] =  ['Тургенев', 'Чехов', 'Островский']
pf

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [25]:
#ваш код
pf = pd.DataFrame(columns=['author_id','book_title', 'price'])
pf['author_id'] =  [1, 1, 1, 2, 2, 3, 3]
pf['book_title'] = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
pf['price'] =  [450, 300, 350, 500, 450, 370, 290]
pf

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [29]:
#ваш код
table1 =pd.DataFrame(  
                columns=['author_id', 'author_name'],
                 )
table1['author_id']=[1, 2, 3]
table1['author_name'] =  ['Тургенев', 'Чехов', 'Островский']
#print('table 1: ',table1)

table2 = pd.DataFrame(columns=['author_id','book_title', 'price'])
table2['author_id'] =  [1, 1, 1, 2, 2, 3, 3]
table2['book_title'] = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
table2['price'] =  [450, 300, 350, 500, 450, 370, 290]
#print('table 2:',table2)

table_concat=pd.merge(table1, table2, on='author_id')
table_concat

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [34]:
#ваш код
a = table_concat.sort_values('price', ascending=False)
a.head()

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и max_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [40]:
#ваш код
gd = table_concat.groupby('author_name').agg( min_price=('price', 'min'), max_price=('price', max), mean_price=('price', 'mean') )
gd

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000